<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Árbol de Decisión</title>
    
    <script src="/static/script.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Árbol de Decisión</h1>
    
    <div id="controls">
        <div class="input-section">
            <label for="totalNodes">Número total de nodos:</label>
            <input type="text" id="totalNodes" placeholder="Ej. 10">
        </div>
        <div class="input-section">
            <label for="rootNode">Nodo raíz:</label>
            <input type="text" id="rootNode" placeholder="Ej. A">
        </div>
        <div class="input-section">
            <label for="goalNode">Nodo meta:</label>
            <input type="text" id="goalNode" placeholder="Ej. Z">
        </div>
        <div class="input-section">
            <label for="numParents">Número de nodos padres:</label>
            <input type="text" id="numParents" placeholder="Ej. 3">
        </div>
        <div class="input-section">
            <label for="numChildren">Número de nodos hijos:</label>
            <input type="text" id="numChildren" placeholder="Ej. 2">
        </div>
        <div class="input-section">
            <label for="branches">Número de ramas:</label>
            <input type="text" id="branches" placeholder="Ej. 5">
        </div>
        <div class="input-section">
            <label for="amplitude">Amplitud del árbol:</label>
            <input type="text" id="amplitude" placeholder="Ej. 3">
        </div>
        <div class="input-section">
            <label for="depth">Profundidad del árbol:</label>
            <input type="text" id="depth" placeholder="Ej. 4">
        </div>
        <button onclick="generateTree()">Generar Árbol</button>
        <br>
        <button onclick="depthSearch()">Búsqueda por Profundidad</button>
        <button onclick="breadthSearch()">Búsqueda por Amplitud</button>
        <button onclick="showSummary()">Resumen</button>
    </div>

    <div id="info"></div>
    <div id="tree-container"></div>

    
</body>
</html>
